@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --font-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
body{
  background: linear-gradient(90deg, #011111, #031010, #011111);
  min-height: 100vh;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-jakarta-sans);
}

p, a, button {
  font-family: var(--font-poppins);
}



body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #001615;
}
body::-webkit-scrollbar-thumb {
  background: #05867f;
  border-radius: 50px;
  border: #081022 solid 3px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #9cdad6;
}




.heading-1{
  @apply text-4xl md:text-[60px] leading-tight
}
.heading-2{
  @apply text-3xl md:text-[48px] leading-tight
}
.heading-3{
  @apply text-2xl md:text-[38px] leading-tight
}
.heading-4{
  @apply text-xl md:text-[28px] leading-tight
}
.heading-5{
  @apply text-lg md:text-[20px] leading-tight
}

.heading-6{
  @apply text-lg  leading-tight
}

.para-large{
  @apply text-base md:text-lg
}
.para-medium{
  @apply text-[13px] md:text-[14px]
}
.para-small{
  @apply text-[12px]
}

.hvr-scl {
  @apply transform transition-transform duration-300 hover:scale-105;
}



.btn_primary{
  @apply bg-primary text-white px-4 py-2 rounded-lg font-medium shadow-gray-900 shadow-lg hover:bg-[#267671] hvr-scl;
}

.btn_glow {
  @apply rounded-full text-white px-6 py-3 transition-all duration-500;
  outline: 1px solid rgba(23, 183, 174, 0.7);
  box-shadow: inset 0 0 15px rgba(23, 183, 174, 0.7); 
}

.btn_glow:hover {
  outline: 1px solid rgba(208, 189, 240, 0.7);
  box-shadow: 0 0 15px rgba(23, 183, 174, 0.6),
  inset 0 0 20px rgba(23, 183, 174, 0.7);
}

.active{
  @apply rounded-full text-white px-6 py-2 transition duration-300 ;
  box-shadow: inset 0 0 10px rgba(23, 183, 174, 0.5); 
}

.glow_shadow {
  background: rgba(23, 183, 174, 0.1); 
  box-shadow: inset 0 0 15px rgba(23, 183, 174, 0.7); 
  filter: blur(100px);
  z-index: -10; 
}

.box_shadow{
  box-shadow: 0 0 150px rgba(255, 255, 255, 0.1); 
  border: 1px solid #17b7af71;
}

.card_shadow{
  box-shadow: inset 0 0 15px rgba(23, 183, 174, 0.4); 
}

.blog-category{
  background: rgba(23, 183, 174, 0.9); 
  box-shadow: inset 0 0 15px rgba(1, 37, 36, 0.7); 
}

.blog-card-shadow{
  box-shadow: 0 0 15px rgba(2, 76, 74, 0.9);   
}

